<launch>
  <!-- 相机彩色和深度图 -->
  <!-- <include file="$(find task1_package)/launch/task1.launch" /> -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" output="log" />
  
  <!-- <node  name="letter_recognition_node" pkg="task4_package" type="01_letter_recognition_node.py" output="screen"/> -->
  <!-- <node  name="nav_goal_node" pkg="task4_package" type="02_nav_goal_node.py" output="screen"/> -->
  
  <!-- 雷达点云 -->
  <include file="$(find scout_bringup)/launch/open_rslidar.launch"/>
  <node pkg="task1_package" type="lidar_node" name="lidar_node"/>


</launch>